<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Добавление нового изображения
        </title>
    </head>
    <body>
        <a href="{% url 'index' %}">
            Назад к списку
        </a>
        {% if error_message %}
            <h2>{{ error_message }}</h2>
        {% endif %}
        <h1>
            Новое изображение
        </h1>
        <form action="{% url 'upload'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="url">
                Ссылка
            </label>
            <input type="text" name="url" id="url"><br><br>
            <label for="local">
                Файл
            </label>
            <input name="file" type="file" accept="image/*"><br><br>
            <input type="submit" value="Отправить">
        </form>
    </body>
</html>
